/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
text-gray : #777;

*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  display: inline-block;
}

html {
  font-size: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1rem;
  color: #777;
  padding: 1.875rem;
  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0% 0%, 0% 100%, 100% 80%, 100% 0%);
  position: relative;
}

.logo-box {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}

.logo {
  height: 2.188rem;
}
.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3.75rem;
}

.heading-primary--title,
.heading-primary--subtitle {
  display: block;
}
.heading-primary--title {
  font-size: 4.75rem;
  font-weight: 400;
  letter-spacing: 2.188rem;
  animation: moveInRight 1s ease-in-out;

  /* 
  animation-delay : 3s;
  animation-iteration-count: 4;
  animation-timing-function: ease-in;
  */
}

.heading-primary--subtitle {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 19.4px;
  animation: moveInLeft 1s ease-in-out;
}

.btn:is(:link, :visited) {
  text-transform: uppercase;
  transition: all 0.2s ease;
  border-radius: 12.5rem;
  position: relative;
}

.btn:is(:hover, :focus-visible) {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.btn:active {
  transform: translateY(-4px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.btn-white {
  background-color: #fff;
  color: #777;
  padding: 0.938rem 2.5rem;
}
.btn-white::after {
  background-color: #fff;
}
.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 12.5rem;
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 1;
  transition: all 0.4s ease;
}
.btn:hover::after {
  transform: scaleX(1.8) scaleY(1.5);
  opacity: 0;
}
.btn-animated {
  animation: moveUp 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-7.5rem);
  }

  80% {
    transform: translateX(0.625rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(7.5rem);
  }

  80% {
    transform: translateX(-0.625rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(2.5rem);
    opacity: 0;
  }
  80% {
    transform: translateY(-0.5rem);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
