/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
text-gray : #777;

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1rem;
  color: #777;
  padding: calc((30 / 16) * 1rem);
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0% 0%, 0% 100%, 100% 80%, 100% 0%);

  position: relative;
}
.logo-box {
  position: absolute;
  top: calc((40 / 16) * 1rem);
  left: calc((40 / 16) * 1rem);
}

.logo {
  height: calc((35 / 16) * 1rem);
}
.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: calc((60 / 16) * 1rem);
}

.heading-primary--title,
.heading-primary--subtitle {
  display: block;
}
.heading-primary--title {
  font-size: calc((60 / 16) * 1rem);
  font-weight: 400;
  letter-spacing: calc((35 / 16) * 1rem);
  animation: moveInRight 1s ease-in-out;

  /* 
  animation-delay : 3s;
  animation-iteration-count: 4;
  animation-timing-function: ease-in;
  */
}

.heading-primary--subtitle {
  font-size: calc((20 / 16) * 1rem);
  font-weight: 700;
  letter-spacing: 17.4px;
  animation: moveInLeft 1s ease-in-out;
}

.btn:is(:link, :visited) {
  text-transform: uppercase;
  transition: all 0.2s ease;
  border-radius: calc((200 / 16) * 1rem);
  position: relative;
}

.btn:is(:hover, :focus-visible) {
  transform: translateY(-6px);
  box-shadow: 0 calc((10 / 16) * 1rem) calc((20 / 16) * 1rem) rgba(0, 0, 0, 0.3);
}
.btn:active {
  transform: translateY(-4px);
  box-shadow: 0 calc((5 / 16) * 1rem) calc((10 / 16) * 1rem) rgba(0, 0, 0, 0.5);
}
.btn-white {
  background-color: #fff;
  color: #777;
  padding: calc((15 / 16) * 1rem) calc((40 / 16) * 1rem);
}
.btn-white::after {
  background-color: #fff;
}
.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: calc((200 / 16) * 1rem);
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 1;
  transition: all 0.4s ease;
}
.btn:hover::after {
  transform: scaleX(1.8) scaleY(1.5);
  opacity: 0;
}
.btn-animated {
  animation: moveUp 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-calc((120 / 16) * 1rem));
  }

  80% {
    transform: translateX(calc((10 / 16) * 1rem));
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(calc((120 / 16) * 1rem));
  }

  80% {
    transform: translateX(-calc((10 / 16) * 1rem));
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(calc((40 / 16) * 1rem));
    opacity: 0;
  }
  80% {
    transform: translateY(-calc((8 / 16) * 1rem));
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
