*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

html {
  font-size: 100%;
}

body {
  padding: 1.875rem;
  box-sizing: border-box;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-7.5rem);
  }
  80% {
    transform: translateX(0.625rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(7.5rem);
  }
  80% {
    transform: translateX(-0.625rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(2.5rem);
    opacity: 0;
  }
  80% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1rem;
  color: #777;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3.75rem;
}
.heading-primary--title, .heading-primary--subtitle {
  display: block;
}
.heading-primary--title {
  font-size: 4.75rem;
  font-weight: 400;
  letter-spacing: 2.188rem;
  animation: moveInRight 1s ease-in-out;
  /* 
  animation-delay : 3s;
  animation-iteration-count: 4;
  animation-timing-function: ease-in;
  */
}
.heading-primary--subtitle {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 19.4px;
  animation: moveInLeft 1s ease-in-out;
}

.heading-secondary {
  font-size: 2.188rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s ease;
  letter-spacing: 2px;
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.2);
  letter-spacing: 4px;
  text-shadow: 0.5rem 1rem 1.5rem rgba(0, 0, 0, 0.3);
}

.heading-tertiary {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
}

.paragraph {
  font-size: 1rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 2rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-xl {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-l {
  margin-bottom: 6rem !important;
}

.u-margin-bottom-m {
  margin-bottom: 2.5rem !important;
}

.u-margin-bottom-s {
  margin-bottom: 0.5rem !important;
}

.u-margin-top-xl {
  margin-top: 8rem !important;
}

.section--about {
  background-color: #f7f7f7;
  padding: 16rem 0;
  margin-top: -20vh;
}

.section--features {
  padding: 12.5rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-6deg);
  margin-top: -6rem;
}
.section--features > * {
  transform: skewY(6deg);
}

.section--tours {
  background-color: #f7f7f7;
  padding: 12.5rem 0;
  margin-top: -6rem;
}

.section--stories {
  padding: 10rem 0;
  position: relative;
}
.section--stories .bg__video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.section--stories .bg__video--content {
  width: 100%;
  height: 100%;
  opacity: 0.2;
  object-fit: cover;
}

.section-booking {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.booking {
  height: max-content;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 50%, transparent 50%), url("../img/nat-10.jpg");
  background-size: cover;
  padding: 4rem;
}

.btn:is(.btn, :link, :visited) {
  text-transform: uppercase;
  transition: all 0.2s ease;
  border-radius: 12.5rem;
  position: relative;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}
.btn:is(:hover) {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.btn:is(:hover)::after {
  transform: scaleX(1.8) scaleY(1.5);
  opacity: 0;
}
.btn:is(:active, :focus) {
  outline: none;
  transform: translateY(-4px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.btn--white {
  background-color: #fff;
  color: #777;
  padding: 0.938rem 2.5rem;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  background-color: #55c57a;
  color: #fff;
  padding: 0.938rem 2.5rem;
}
.btn--green::after {
  background-color: #55c57a;
}
.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 12.5rem;
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 1;
  transition: all 0.4s ease;
}
.btn--animated {
  animation: moveUp 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
.btn--text:is(:link, :visited) {
  color: #55c57a;
  border-bottom: 2px solid currentColor;
  padding: 3px;
  font-size: 1rem;
  transition: all 0.2s ease;
}
.btn--text:hover {
  background-color: #55c57a;
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn--text:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 60%;
  position: absolute;
  border-radius: 2px;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
  outline-offset: 1.2rem;
}
.composition__photo--p1 {
  top: -2rem;
  left: 0;
}
.composition__photo--p2 {
  top: 0rem;
  right: 0;
}
.composition__photo--p3 {
  top: 5rem;
  left: 20%;
}
.composition__photo:hover {
  z-index: 1;
  transform: scale(1.2) translateY(-1rem);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4);
  outline: 20px solid #55c57a;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.92) translateY(1rem);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 0.938rem;
  padding: 2.5rem 0.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
}
.feature-box__icon {
  font-size: 4rem;
  margin-bottom: 2rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: scale(1.1) translateY(-2rem);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

.card {
  height: 32.5rem;
  position: relative;
  perspective: 100rem;
}
.card__side {
  position: absolute;
  width: 100%;
  height: 32.5rem;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: all 2s ease;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(-180deg);
  opacity: 0;
}
.card__side--back-c1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-c2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side--back-c3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
  box-shadow: 0 0.75rem 2rem rgba(0, 0, 0, 0.4);
  opacity: 0;
}
.card:hover .card__side--back {
  transform: rotateY(-360deg);
  box-shadow: 0 0.75rem 2rem rgba(0, 0, 0, 0.4);
  opacity: 1;
}
.card__image {
  height: 14.375rem;
  background-size: cover;
  -webkit-background-blend-mode: color;
  background-blend-mode: color;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  clip-path: polygon(0% 0%, 0% 100%, 100% 80%, 100% 0%);
}
.card__image--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-5.jpg");
}
.card__image--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/nat-6.jpg");
}
.card__image--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/nat-7.jpg");
}
.card__heading {
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: 300;
  text-align: right;
  color: #fff;
  position: absolute;
  width: 75%;
  top: 7.5rem;
  right: 1.25rem;
}
.card__heading--span {
  padding: 0.625rem 1rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading--span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading--span--2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.card__heading--span--3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card__details {
  padding: 2rem;
}
.card__details ul {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.card__details ul li {
  padding: 0.5rem 0;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  color: #fff;
}
.card__price-box {
  text-align: center;
  margin-bottom: 5rem;
}
.card__price-only {
  font-size: 1rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 4rem;
  font-weight: 300;
}

.story {
  padding: 3.75rem;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  font-size: 0.938rem;
  padding-left: 5.625rem;
  width: 75%;
  margin: 5rem auto;
  transform: skewX(-10deg);
}
.story > * {
  transform: skewX(10deg);
}
.story__shape {
  width: 9.375rem;
  height: 9.375rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translate(-1.875rem, -0.25rem) skewX(10deg);
}
.story__shape--image {
  height: 100%;
  transform: scale(1.4);
  transition: all 0.5s ease;
}
.story__caption {
  font-size: 0.938rem;
  font-weight: bold;
  text-transform: uppercase;
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: all 0.5s ease;
  color: #fff;
  opacity: 0;
}
.story:hover .story__caption {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.story:hover .story__shape--image {
  transform: scale(1);
  filter: blur(5px) brightness(80%);
}

.form {
  width: 50%;
}
.form__group:not(:last-child) {
  margin-bottom: 1.25rem;
}
.form__input {
  font-family: 0.938rem;
  padding: 1rem 1.25rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font: inherit;
  display: block;
  width: 90%;
  color: inherit;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #303030;
}
.form__label {
  font-size: 0.75rem;
  font-weight: 700;
  margin-left: 1.25rem;
  margin-top: 0.5rem;
  display: block;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.form__radio-group {
  width: 49%;
  display: inline-block;
}
.form__radio-label {
  font-size: 1rem;
  cursor: pointer;
  padding-left: 2.5rem;
  position: relative;
}
.form__radio-button {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 5px solid #55c57a;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -6px;
}
.form__radio-button::after {
  height: 1rem;
  width: 1rem;
  content: "";
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #55c57a;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}
.form__radio-input {
  display: none;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0% 0%, 0% 100%, 100% 75vh, 100% 0%);
  position: relative;
}
.header__logo-box {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}
.header__logo {
  height: 2.188rem;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.footer {
  background-color: #353535;
  padding: 6.25rem 0;
  color: #f7f7f7;
  font-size: 1.1rem;
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 5rem;
}
.footer__logo {
  width: 9.375rem;
  height: auto;
}
.footer__navigation {
  display: inline-block;
  border-top: 2px solid #ddd;
  padding-top: 2rem;
}
.footer__list li {
  display: inline-block;
}
.footer__list li:not(:last-child) {
  margin-right: 1rem;
}
.footer__link {
  color: #ddd;
  transition: all 0.3s;
}
.footer__link:is(:hover, :focus) {
  color: #55c57a;
  transform: scale(1.2) rotate(4deg);
  background-color: #303030;
}
.footer__copyright {
  border-top: 2px solid #ddd;
  padding-top: 2rem;
  width: 80%;
  float: right;
}

.row {
  max-width: 71.25rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 5rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 3.75rem;
}
.row .col-1-of-2 {
  width: calc((100% - 3.75rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - (2 * 3.75rem)) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - (2 * 3.75rem)) / 3 + 3.75rem);
}
.row .col-1-of-4 {
  width: calc((100% - (3 * 3.75rem)) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - (3 * 3.75rem)) / 4 + 3.75rem);
}
.row .col-3-of-4 {
  width: calc(3 * (100% - (3 * 3.75rem)) / 4 + 7.5rem);
}

/*# sourceMappingURL=style.css.map */
