$color-primary-light: #7ed56f;
$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// GRID

$grid-width: 71.25rem;
$gap-vertical: 5rem;
$gap-horizontal: 3.75rem;
