.card {
  height: 32.5rem;

  position: relative;

  perspective: 100rem;

  &__side {
    position: absolute;
    width: 100%;
    height: 32.5rem;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    transition: all 2s ease;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

    &--front {
      background-color: $color-white;
    }
    &--back {
      transform: rotateY(-180deg);
      opacity: 0;

      &-c1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &-c2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }
      &-c3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
    box-shadow: 0 0.75rem 2rem rgba($color-black, 0.4);
    opacity: 0;
  }
  &:hover &__side--back {
    transform: rotateY(-360deg);
    box-shadow: 0 0.75rem 2rem rgba($color-black, 0.4);
    opacity: 1;
  }

  &__image {
    height: 14.375rem;
    background-size: cover;
    -webkit-background-blend-mode: color;
    background-blend-mode: color;

    clip-path: polygon(0% 0%, 0% 100%, 100% 80%, 100% 0%);

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url("../img/nat-5.jpg");
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url("../img/nat-6.jpg");
    }
    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url("../img/nat-7.jpg");
    }
  }

  &__heading {
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 300;
    text-align: right;
    color: $color-white;
    position: absolute;

    width: 75%;
    top: 7.5rem;
    right: 1.25rem;
  }
  &__heading--span {
    padding: 0.625rem 1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
  }

  &__details {
    padding: 2rem;
    ul {
      width: 80%;
      margin: 0 auto;
      text-align: center;

      li {
        padding: 0.5rem 0;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    color: $color-white;
  }

  &__price-box {
    text-align: center;
    margin-bottom: 5rem;
  }
  &__price-only {
    font-size: 1rem;
    text-transform: uppercase;
  }
  &__price-value {
    font-size: 4rem;
    font-weight: 300;
  }
}
