.composition {
  position: relative;
  &__photo {
    width: 60%;
    position: absolute;
    border-radius: 2px;
    box-shadow: 0 1rem 4rem rgba($color-black, 0.2);
    transition: all 0.4s ease;
    outline-offset: 1.2rem;
    &--p1 {
      top: -2rem;
      left: 0;
    }
    &--p2 {
      top: 0rem;
      right: 0;
    }
    &--p3 {
      top: 5rem;
      left: 20%;
    }

    &:hover {
      z-index: 1;
      transform: scale(1.2) translateY(-1rem);
      box-shadow: 0 0.5rem 2rem rgba($color-black, 0.4);
      outline: 20px solid $color-primary;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.92) translateY(1rem);
  }
}
