.story {
  padding: 3.75rem;
  background-color: rgba($color-white, 0.6);
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  border-radius: 3px;
  // font-size: 0.938rem;
  padding-left: 5.625rem;
  width: 75%;
  margin: 2rem auto;

  transform: skewX(-10deg);
  @include respond(tab-port) {
    padding: 2rem;
    padding-left: 3rem;
  }

  & > * {
    transform: skewX(10deg);
  }

  @include respond(phone) {
    padding: 1rem;
    padding-left: 2.5rem;
    transform: skewX(0);
    & > * {
      transform: skewX(0);
    }
  }
  &__shape {
    width: 9.375rem;
    height: 9.375rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translate(-1.875rem, -0.25rem) skewX(10deg);
    @include respond(phone) {
      transform: translate(-10%, 0%) skewX(0);
      float: none;
      margin-bottom: 2rem;
      margin-inline: auto;
    }
  }
  &__shape--image {
    height: 100%;
    transform: scale(1.4);
    transition: all 0.5s ease;
  }
  &__caption {
    // font-size: 0.938rem;
    font-weight: bold;
    text-transform: uppercase;
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: all 0.5s ease;
    color: $color-white;
    opacity: 0;
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  &:hover &__shape--image {
    transform: scale(1);
    filter: blur(5px) brightness(80%);
  }
}
