body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: $step-0;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3.75rem;

  &--title,
  &--subtitle {
    display: block;
  }
  &--title {
    font-size: $step-5;
    font-weight: 400;
    letter-spacing: 2.4rem;
    animation: moveInRight 1s ease-in-out;

    @include respond(tab-land) {
      letter-spacing: 2rem;
    }
    /* 
  animation-delay : 3s;
  animation-iteration-count: 4;
  animation-timing-function: ease-in;
  */
  }

  &--subtitle {
    font-size: $step-1;
    font-weight: 700;
    letter-spacing: 1.2rem;
    animation: moveInLeft 1s ease-in-out;
    @include respond(tab-land) {
      letter-spacing: 1rem;
    }
  }
}

.heading-secondary {
  font-size: $step-3;
  text-transform: uppercase;
  font-weight: 700;

  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s ease;
  letter-spacing: 2px;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.2);
    letter-spacing: 4px;
    text-shadow: 0.5rem 1rem 1.5rem rgba($color-black, 0.3);
  }
}
.heading-tertiary {
  text-transform: uppercase;
  font-weight: 700;
  font-size: $step-0;
}
.paragraph {
  font-size: $step-0;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.card {
  &__heading {
    font-size: $step-2;
  }
  &__price-only {
    font-size: $step-0;
  }
  &__price-value {
    font-size: $step-5;
  }
}

.story {
  font-size: $step--1;

  &__caption {
    font-size: inherit;
  }
}

.form {
  font-size: $step--1;
  &__label {
    font-size: $step--2;
  }
}

.footer {
  font-size: $step-0;

  &__copyright {
    font-size: $step--1;
  }
}
