.nav {
  // position: fixed;
  &__toggle {
    display: none;
  }

  &__button {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-image: radial-gradient(
      $color-secondary-light,
      $color-secondary-dark
    );
    box-shadow: 0 1rem 2.5rem rgba($color-black, 0.25);
    position: fixed;
    top: 3rem;
    right: 3rem;
    z-index: 200;
    cursor: pointer;
  }
  &__background {
    width: 4rem;
    height: 4rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    border-radius: 50%;
    position: fixed;
    top: 4rem;
    right: 4rem;
    z-index: 100;

    transition: all 0.6s cubic-bezier(0.65, 0, 0.35, 1);

    // On Nav Toggle
    // transform: scale(80);
  }

  &__menu {
    z-index: 150;
    position: fixed;
    width: 100%;
    height: 100vh;
    inset: 0;
    color: $color-white;

    font-size: 1.8rem;
    font-weight: 300;

    transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    // On Nav Toggle
    opacity: 0;
    width: 0;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__item {
    margin: 0.75rem;
  }

  &__link {
    &:is(:link, :visited) {
      color: inherit;
      padding: 0.75rem 2rem;
      background-image: linear-gradient(
        128deg,
        transparent 0%,
        transparent 50%,
        white 50%
      );
      background-size: 230%;
      transition: all 0.6s ease;
      text-transform: uppercase;
    }

    &:is(:hover, :focus) {
      background-position: right;
      color: $color-primary;
      transform: translateX(2rem);
    }

    span {
      margin-right: 1rem;
    }
  }

  // FUNCTIONALITY
  &__toggle:checked ~ &__background {
    transform: scale(80);
  }

  &__toggle:checked ~ &__menu {
    width: 100%;
    opacity: 1;
  }

  // ICONS
  &__icon {
    &,
    &::after,
    &::before {
      display: inline-block;
      width: 2.6rem;
      height: 2.6px;
      background-color: $color-tertiary-dark;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.2s;
    }

    &::after,
    &::before {
      content: "";
    }
    &::after {
      top: 0.7rem;
    }
    &::before {
      top: -0.6rem;
    }
  }

  // On Icon Hover
  &__button:hover &__icon {
    width: 2.2rem;
    height: 3.5px;
  }
  &__button:hover &__icon::after {
    top: 0.85rem;
    height: 3.5px;
  }
  &__button:hover &__icon::before {
    top: -0.75rem;
    height: 3.5px;
  }

  // On Icon Click

  &__toggle:checked + &__button &__icon {
    background-color: transparent;
  }
  &__toggle:checked + &__button &__icon::after {
    transform: rotate(-135deg);
    top: 0;
    left: 0;
  }
  &__toggle:checked + &__button &__icon::before {
    transform: rotate(135deg);
    top: 0;
    left: 0;
  }
}
